@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: white;
  color: black;
  margin: 0;
  font-family: sans-serif;
}

/* Esto arregla que el menú no se amontone en celulares */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}